* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.title-bar{
    width: 100%;
    background: linear-gradient(to right, #41C9E2, #ACE2E1, #FFF3C7, #FEC7B4, #FC819E);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-bar > p{
    font-size: 26px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .list-container{
        width: 80%;
    }
    .category{
        padding: 5px 2px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}